body {
    font-family: Arial, sans-serif;
    background: url("./tvbg.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    z-index:1;
    background-color: #151212;
    color: #fff;
    text-align: center;
    filter:opacity(0.85);
    padding: 10px;
}

main {
    margin: 20px;
}

.search-container {
   margin:auto;
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#movie-search {
    height: 33px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
   
}

#recommend-button {
    width:100px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #0b0a0a;
    border:2px solid white !important;
    color: #fff;
    border: none;
    cursor: pointer;
}

#recommend-button:hover{
    outline:2px solid blue;
    color: #675151;
   background-color: rgba(254, 205, 7, 0.97);
}

#recommendation-list {
   margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie-item{
    display: flex; /* Use flexbox for layout */
    color:white;
    /* background-image: linear-gradient(to left, #774949, #402341); */
    border:1px dotted rgb(202, 220, 220);
    border-radius: 20px;
    background-color: rgb(0, 0, 0,0.85);
    margin:2px;
    padding:10px 30px 30px 30px;
    
    /*filter:opacity(0.85);*/
    transition: transform 0.3s ease;
    padding-bottom: 5px;
    max-width: 280px;
    flex-direction: column;  /*Display items in a column layout */
     align-items: center; /*Center items horizontally */
    text-align: center; /* Center text horizontally */
    
    position: relative;
}

.movie-item:hover {
    /* Scale up the element slightly on hover */
    transform:translateY(-10px);
   box-shadow: 0 0 10px rgba(254, 205, 7, 0.97), /* Top shadow */
    0 0 10px rgba(254, 205, 7, 0.97), /* Right shadow */
    0 0 10px rgba(254, 205, 7, 0.97), /* Bottom shadow */
    0 0 10px rgba(254, 205, 7, 0.97); /* Left shadow */
  }

.movie-item h3{
    border-bottom: 2px solid rgba(254, 205, 7, 0.75);
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
}

.movie-item p{
    text-align: center;
    font-weight: bold;
    margin-top: 2px; /* Add spacing between paragraphs */
}
.movie-item img{
    max-width: 50%; /* Set the max width for the image */
    opacity: 1!important;
    height: auto;
    margin-right: auto; /* Move the image to the left side */
    margin-left: auto;
    margin-bottom: 5px; /* Add spacing between image and text */
}
   

.movie-item .hover-info {
    display: none;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    z-index: 1;
}

/* Show hover information on hover */
.movie-item:hover .hover-info {
    background-color: rgba(0, 0, 0);
    transform: rotateY(0 deg);
    border-radius: 20px;
    display: flex;
    z-index: 2;
}

#modal-container {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.3s ease;
}

#modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    overflow-y: auto;
}

#modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}